<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/comentarios.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="barra_nav_principal">
        <div class="barra_nav_principal_izquierda">
            <a href="./QuickRecipe">
              <div class="flecha">&lsaquo;</div>
            </a>
        </div>
    </div>
    <section class="comentarios">
      <div class="comentarios-container">
        <h2>Cuéntanos tu experiencia</h2>
        {% with mensajes = get_flashed_messages() %}
          {% if mensajes %}
              <br>
            {% for m in mensajes %}
              <strong>{{ m }}</strong>
             {% endfor %}
          {% else %}

          {% endif %}
        {% endwith %}
       <form action="/comentarios" method="POST">
          <label for="Usuario">Danos tu comentario</label>
          <textarea name="comentario" placeholder="Comenta"></textarea> <!--El placeholder es el texto que aparece dentro del input-->
          <button type="submit">Enviar</button>
        </form>
      </div>

      <hr class="linea-separadora">

        <div class="lista-comentarios">
          <h2 class="titulo_seccioncomentarios">Observa los Comentarios de Nuestros Usuarios</h2>
          {% for comentario in comentarios %}
            <div class="comentario">
              <p><strong>{{ comentario.usuario }}:</strong> <span style="color: white;">{{ comentario.comentario }}</span></p>
              <p style="font-size: 0.8rem;";">Fecha de publicacion: {{ comentario.fecha }}</p>
            </div>
          {% endfor %}
        </div>
      </section>
  </div>
  

  
    <div clas="footer-container">
      <footer class="footer">
        <p>© 2025 QuickRecipe. Todos los derechos reservados.</p>
        <p>Desarrollado por Jhosef Alejandro y Juanangel Alvarado</p>
      </footer>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>