<!DOCTYPE html>
<html lang="es">
  <!-- This is a comment -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos/estilos.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="navegacion">
      </a>
      <h2 style="color: #d8aa6f">Bienvenido, {{ session['usuario'] }}</h2>
    </div>

<div class="barra_navegacion-color">
  <div class="barra_navegacion">
    <div class="circulodellogo">
      <div class="Rotacion">
        <div class="quick2">Quick</div>
        <div class="recipe2">Recipe</div>
      </div>
    </div>
    <div class="acciones-navegacion">
      <button class="btnMenu" id="btnMenu">
        DESCUBRE
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-basket-fill" viewBox="0 0 16 16">
                <path class="imagen-boton"
                d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z" />
        </svg>
      </button>

      <form method="POST" action="/QuickRecipe">
        <input class="busqueda" type="text" name="ingrediente" placeholder="Escribe un ingrediente" />
      </form>
    </div>
  </div>
</div>
    <div class="fondo">
      <div class="cuadrologo">
        <div>
          <img
            class="imagen-principal"
            src="{{ url_for('static', filename='imagenes/beneficios-de-las-verduras.webp') }}"
            alt=""
          />
        </div>
        <div class="Rotacion">
          <div class="quick">Quick</div>
          <div class="recipe">Recipe</div>
        </div>
      </div>
    </div>
    <div class="no_navbar" id="navbar">
      <form class="recetas">
        <button class="Botones">Carne</button>
        <button class="Botones">Pollo</button>
        <button class="Botones">Pescado</button>
        <button class="Botones">Cerdo</button>
        <button class="Botones">Arroces</button>
        <button class="Botones">Sopas</button>
        <button class="Botones">11111</button>
        <button class="Botones">22222</button>
      </form>
    </div>

    {% if recetas %}
    <div class="ordenRecetas">
      {% for receta in recetas %}
      <div class="receta" onclick="mostrarInstrucciones(this)">
        <h2>{{ receta.strMeal }}</h2>
        <img class="imgRecetas" src="{{ receta.strMealThumb }}"/>
        <p>Categoría: {{ receta.strCategory }}</p>
        <p class="instrucciones">
          Instrucciones: <br />
          {{ receta.strInstructions }}
        </p>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No se encontraron recetas.</p>
    {% endif %}

    <div class="detalles-Programadores">
      <div class="container">
        <div class="card">
          <h3 class="title">Jhosef Alejandro</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"><p></p></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Juanangel Alvarado</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Card 3</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Card 4</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
      </div>
      <div>
        <p class="texto">HOLA</p>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
