<!DOCTYPE html>
<html lang="es">
  <!-- This is a comment -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUICK RECIPE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos/estilos.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="navegacion">
      <h2 class="mensaje_de_bienvenida">Bienvenido {{ session['usuario'] }}</h2>
      <a href="/">
        <h3>Cerrar Sesión</h3>
      </a>
    </div>

    <div class="barra_navegacion-color">
      <div class="barra_navegacion">
        <div class="circulodellogo">
          <div class="Rotacion">
            <div class="quick2">Quick</div>
            <div class="recipe2">Recipe</div>
          </div>
        </div>
        <div class="acciones-navegacion">
          <button class="btnMenu" id="btnMenu">
            <div class="fancy">
              <span class="top-key"></span>
              <span class="text">DESCUBRE</span>
              <span class="bottom-key-1"></span>
              <span class="bottom-key-2"></span>
            </div>
          </button>

          <form method="POST" action="/QuickRecipe">
              <input
                class="barrabusqueda"
                name="ingrediente"
                type="ingrediente"
                placeholder="Escribe un ingrediente"
              />
          </form>
        </div>
      </div>
    </div>
    <div class="fondo">
      <div class="cuadrologo">
        <div>
          <img
            class="imagen-principal"
            src="{{ url_for('static', filename='imagenes/beneficios-de-las-verduras.webp') }}"
            alt=""
          />
        </div>
        <div class="Rotacion">
          <div class="quick">Quick</div>
          <div class="recipe">Recipe</div>
        </div>
      </div>
    </div>
    <div class="no_navbar" id="navbar">
      <form class="recetas">
        <button class="Botones">Carne</button>
        <button class="Botones">Pollo</button>
        <button class="Botones">Pescado</button>
        <button class="Botones">Cerdo</button>
        <button class="Botones">Arroces</button>
        <button class="Botones">Sopas</button>
        <button class="Botones">11111</button>
        <button class="Botones">22222</button>
      </form>
    </div>

 {% if recetas %}
<div class="ordenRecetas">
  {% for receta in recetas %}
  <div class="receta" onclick="mostrarInstrucciones(this)">
    <div class="contenido">
      <h2>{{ receta.strMeal }}</h2>
      <img class="imgRecetas" src="{{ receta.strMealThumb }}" />
      <p>Categoría: {{ receta.strCategory }}</p>
    </div>
    <div class="instrucciones oculto">
      <strong>Instrucciones:</strong>
      <div class="scroll-texto">
        {{ receta.strInstructions }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No se encontraron recetas.</p>
{% endif %}
    <div class="detalles-Programadores">
      <div class="container">
        <div class="card">
          <h3 class="title">Jhosef Alejandro</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"><p></p></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Juanangel Alvarado</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Card 3</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <h3 class="title">Card 4</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle"></div>
        </div>
      </div>
      <div>
        <p class="texto">HOLA</p>
      </div>
    </div>
    <div class="comentarios">
      <h3>
        <a href="/comentarios"
          >Déjanos un comentario AQUÍ para ayudarnos a mejorar</a>
      </h3>
    </div>
    <hr>
    <div clas="footer-container">
      <footer class="footer">
        <p>© 2023 QuickRecipe. Todos los derechos reservados.</p>
        <p>Desarrollado por Jhosef Alejandro y Juanangel Alvarado</p>
      </footer>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>