/* Colores */
:root {
  --color-fondo: #000000;
  --color-panel: #262323;
  --color-input: white;
  --color-texto: #D8AA6F;
  --color-boton: #D8AA6F;
  --color-boton-hover: #c29b69;
}

input{
  color: black;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
  background-image: url(/static/IMAGENES/madera_comentarios.jpeg);
  background-size: cover;
}

/* Barra de navegación */
.barra_nav_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-panel);
  padding: 0.5rem 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.barra_nav_principal a {
  color: var(--color-texto);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.barra_nav_principal a:hover {
  color: var(--color-boton);
}

.barra_nav_principal_izquierda {
  display: flex;
  align-items: center;
}

.flecha{
  font-size: 2.3rem;
}

/* Contenedor del formulario */

.comentarios{
  display: grid;
  grid-template-columns: 40% 10% 50%; /* Esta es la distancia de las columnas del display-grid  */
}

.lista-comentarios {
  margin: 0 auto;
  margin-top: 1rem;
}

.linea-separadora {

  width: 2px;
  height: 90%;
  background-color: #D8AA6F; /* Color que combine con tu diseño */
  border: 0.1rem solid white;
  margin: 2rem auto;
  box-shadow: 0 0 20px #cdad82;
}

.comentarios-container {
  height: 16.8rem;
  max-height: 285px;
  width: 350px;
  background-color: var(--color-panel);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #cdad82;
}

.comentario {
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #262323;
}

/*Aqui termina la seccion de comentarios*/

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

input {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input);
  color: black;
}

input::placeholder {
  color: #cccccc;
}

button {
  padding: 0.7rem;
  background-color: var(--color-boton);
  border: none;
  border-radius: 5px;
  color: var(--color-fondo);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-boton-hover);
}

form textarea {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input);
  color: black;
  resize: vertical;
}

.barra_nav_principal_izquierda a {
    padding: none;
}

.footer-container {
  background-color: #493323ae;
  padding: 30px;
  text-align: center;
  width: 100%;
}

footer {
  color: #d8aa6f;
  font-family: serif;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}