/* Colores */
:root {
  --color-fondo: #000000;
  --color-panel: #262323;
  --color-input: white;
  --color-texto: #D8AA6F;
  --color-boton: #D8AA6F;
  --color-boton-hover: #bf9154;
}

input{
  color: black;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  min-height: 100vh;
  background-image: url(/static/IMAGENES/madera_comentarios.jpeg);
  background-size: cover;
}

.contenedor_principal{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Barra de navegación */
.barra_nav_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-panel);
  padding: 0.3rem 0.3rem;
  padding-bottom: 0.3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.barra_nav_principal a {
  color: var(--color-texto);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.barra_nav_principal a:hover {
  color: var(--color-boton);
}

.barra_nav_principal_izquierda {
  display: flex;
  align-items: center;
}

.flecha{
  font-weight: bold;
  font-size: 2.5rem;
}

/* Contenedor del formulario */

.comentarios{
  margin:0 auto;
  max-width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.6rem, 1fr));
  align-items: start; /* evita que los hijos se estiren */

  /*grid-template-columns: repeat(auto-fit, minmax(18.6rem, 1fr));*/
}

.lista-comentarios {
  margin: 0 auto;
  margin-top: 1rem;
}

.linea-separadora {
  width: 2px;
  height: 90%;
  background-color: #D8AA6F;
  border: 0.122rem solid white;
  margin: 2rem auto;
  box-shadow: 0 0 22px #cdad82;
}

.comentarios-container {
  width: 24rem;
  background-color: var(--color-panel);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #cdad82;

  height: auto;       /* que se ajuste automáticamente */
  min-height: 200px;  /* si quieres que tenga un mínimo */
  max-width: 600px;   /* límite para pantallas grandes */
}

textarea {
  width: 100%;
  min-height: 60px;  /* altura mínima */
  resize: vertical;  /* que el usuario pueda agrandarlo hacia abajo */
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.comentario {
  margin: 0 auto;
  max-width: 28rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #262323;
  box-shadow: white 0px 1px 2px;
}

/*Aqui termina la seccion de comentarios*/

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

input {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input);
  color: black;
}

input::placeholder {
  color: #cccccc;
}

button {
  padding: 0.7rem;
  background-color: var(--color-boton);
  border: none;
  border-radius: 5px;
  color: var(--color-fondo);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

button:hover {
  background-color: var(--color-boton-hover);
}

form textarea {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input);
  color: black;
  resize: vertical;
}

.barra_nav_principal_izquierda a {
    padding: none;
}

.footer-container {
  margin-bottom: 0%;
  background-color: #493323ae;
  padding: 30px;
  text-align: center;
  width: 100%;
}


footer {
  box-shadow: inset 0 8px 10px -6px #231e1e;
  margin-top: 10px;
  background-color: #262323;
  padding: 1.4rem;
  color: #d8aa6f;
  font-family: serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
}

.titulo_seccioncomentarios {
  color: white;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
}

@media (max-width: 768px) {
  section {
    width: 100%;
  }

  .comentarios-container {
    width: 95%;
    padding: 1.3rem;
  }

  .linea-separadora {
    height: 4px;
    width: 93%;
    color: white;
    margin: 1rem auto;
    background-color: white;
  }
}
